.orderSummary {
  position: absolute;
  width: 400px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #fff;
  border-radius: var(--border-radius);
}

.orderSummary__head, .orderSummary__head_img {
  border-top-left-radius: var(--border-radius);
  border-top-right-radius: var(--border-radius);
}

.orderSummary__head_img {
  width: 100%;
}

.orderSummary__body {
  padding: 30px 40px;
  text-align: center;
}

.orderSummary__body_title,
.orderSummary__body_description,
.orderSummary__body_orderDetails,
.orderSummary__body_button {
 margin-bottom: 20px; 
}

.orderSummary__body_orderDetails,
.orderSummary__body_orderDetails > div:nth-of-type(1) {
  display: flex;
  text-align: left;
  gap: .8rem;
}

.orderSummary__body_description {
  color: var(--desaturated-blue);
  line-height: 1.6rem;
}

.orderSummary__body_orderDetails {
  background-color: var(--very-pale-blue);
  padding:  1.3rem 0.8rem;
  justify-content: space-between;
  align-items: center;
  border-radius: var(--border-radius);
}

.orderSummary__body_orderDetails h3::first-letter {
  text-transform: uppercase;
}

.orderSummary__body_orderDetails_plan {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.orderSummary__body_orderDetails_plan > h3 {
  font-weight: 700;
  font-size: .9rem;
}

.orderSummary__body_orderDetails_plan > p {
  color: var(--desaturated-blue);
}

.orderSummary__body_button,
.orderSummary__body_cancel,
.orderSummary__body_orderDetails a {
  transition: color .2s, background-color .2s;
}

.orderSummary__body_orderDetails a {
  font-size: .87rem;
  font-weight: bold;
  padding-right: 10px;
  color: var(--bright-blue);
}

.orderSummary__body_orderDetails a:hover {
  color: var(--purple);
  text-decoration: none;
}

.orderSummary__body_button {
  width: 100%;
  background-color: var(--bright-blue);
  padding: 15px;
  color: white;
  font-weight: bold;
  border-radius: 10px;
  box-shadow: 0 8px 7px var(--pale-blue);
  outline: none;
  border: none;
  cursor: pointer;
}

.orderSummary__body_button:hover {
  background-color: var(--purple);
}

.orderSummary__body_cancel {
  display: inline-block;
  color: var(--desaturated-blue);
  font-weight: bold;
  cursor: pointer;
}

.orderSummary__body_cancel:hover {
  color: black;
}